In [1]:
import pandas as pd

In [2]:
# Additional imporets
# to have access to the web service
import requests
# To transforme the timestamps in datetieme
from datetime import datetime

In [3]:
# Conect to the API
# We need to use our local ip. This would be updated manually.
ip = '192.168.178.35'

## Add secure pass

In [4]:
# URLs to connected with the app-service
url_token = 'http://{}:5010/token'.format(ip)
# resp = requests.post(url_token)
resp = requests.post(url_token, data={'username': 'tgarsa', 'password':'secret'})
# resp = requests.post(url_token, data={'username': 'alice', 'password':'secret'})
resp

In [5]:
# resp.json()

In [6]:
# Recober the token info
token = resp.json()['access_token']
token_type = resp.json()['token_type']

# Build the header
headers = {"Authorization": "{} {}".format(token_type, token)}
# headers

## Access to the data

In [7]:
# URLs to connected with the app-service
url = 'http://{}:5010/finance_report'.format(ip)

In [8]:
resp = requests.get(url, headers=headers)

In [9]:
resp

In [10]:
# resp.json()

In [11]:
df = pd.read_json(resp.json())

In [12]:
df

,platform,created_at,sold_price,total fees,transport cost,partner_payout
0,Amazon,2021-06-12,258.31,70.943549,0.0,187.366451
1,Amazon,2021-06-18,1797.41,881.390403,132.5,783.519597
2,Amazon,2021-06-19,6882.32,2594.883156,378.5,3908.936844
3,Amazon,2021-06-20,3729.27,1247.130145,147.5,2334.639855
4,Amazon,2021-06-24,124.68,49.438001,5.0,70.241999
...,...,...,...,...,...,...
459,Kaufland,2022-04-03,127.55,42.605000,5.0,79.945000
460,Kaufland,2022-04-17,128.13,39.033001,5.0,84.096999
461,Kaufland,2022-04-30,54.24,28.284000,5.0,20.956000
462,Kaufland,2022-05-16,161.74,46.994000,5.0,109.746000
463,Kaufland,2022-05-31,46.49,29.489000,5.0,12.001000