This notebook is only to test the database, and evaluate if we were loading the data correctly.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# To have access to the database
import psycopg2

In [ ]:
# To build the data frame
from Finance.library import to_dataframe

## Conexion

Define the conexion to the Postgres container.

It is necesari to know the internal IP

In [ ]:
# Define the conexion to the Postgres container.
# It is necesari to know the internal IP
# Mac ip
# ip = "192.168.178.35"
# Raspberry pi 3 IP
# ip = ""
# Raspberri pi 4 ip
ip = "192.168.178.189"

conexion = psycopg2.connect( 
    host=ip,
    port=5432,
    database="BuyBay",
    user="postgres",
    password="lop34sw@D")

In [ ]:
# Conected to the server
cursor=conexion.cursor()

## Download the whole dataset

In [ ]:
sql="select * from sold_products_bronze"
columns = ['id','license_plate', 'status', 'platform', 'created_at', 'shipped_at', 'updated_at', 'sold_price', 'country', 'channel_ref', 'platform_fee']
sql_2="select * from products_silver"
columns_2 = ['id','license_plate', 'status', 'platform', 'created_at', 'shipped_at', 'updated_at', 'sold_price', 'country', 'channel_ref', 'platform_fee', 'grading_cat', 'grading_time']
sql_3="select * from products_gold"
columns_3 = ['id','license_plate', 'status', 'platform', 'created_at', 'shipped_at', 'updated_at', 'sold_price', 'country', 'transport_cost', 'channel_ref', 'platform_fee', 'grading_cat', 'grading_fee', 'grading_time']


# sql="select * from graded_products_bronze"
# columns=['id','license_plate','grading_cat','grading_time', 'created_at', 'updated_at']

# sql="select * from grading_fees_bronze"
# columns = ['id', 'grading_cat', 'cost', 'created_at', 'updated_at']
# sql_2="select * from grading_fees_silver"

# sql="select * from transport_cost_bronze"
# columns = ['id', 'country', 'transport_cost', 'created_at', 'updated_at']
# sql_2="select * from transport_cost_silver"

# sql="select * from platform_cost_bronze"
# columns = ['id', 'platform', 'cost', 'created_at', 'updated_at']
# columns_2 = columns
# sql_2="select * from platform_cost_silver"

In [ ]:
cursor.execute(sql)

In [ ]:
# fetchone() fetchall(), or fetchmany().

In [ ]:
# How many data?
print('Number of rows: {}'.format(cursor.rowcount))

In [ ]:
data = cursor.fetchall()

In [ ]:
df = pd.DataFrame(data, columns=columns)

In [ ]:
df.head(5)

In [ ]:
df.tail(10)

In [ ]:
cursor.execute(sql_2)
# How many data?
print('Number of rows: {}'.format(cursor.rowcount))

In [ ]:
data = cursor.fetchall()
df_2 = pd.DataFrame(data, columns=columns_2)

In [ ]:
df_2.tail()

In [ ]:
# df_2['license_plate'].value_counts(dropna=False)

In [ ]:
cursor.execute(sql_3)
# How many data?
print('Number of rows: {}'.format(cursor.rowcount))

In [ ]:
data = cursor.fetchall()
df_3 = pd.DataFrame(data, columns=columns_3)

In [ ]:
df_3.tail()