This notebook is only to test the database, and evaluate if we were loading the data correctly.

In [40]:
import pandas as pd
import numpy as np

In [41]:
# To have access to the database
import psycopg2

In [42]:
# To build the data frame
from library import to_dataframe

## Conexion

Define the conexion to the Postgres container.

It is necesari to know the internal IP

In [43]:
# Define the conexion to the Postgres container.
# It is necesari to know the internal IP
# ip = '192.168.178.189'
ip = '192.168.178.35'

conexion = psycopg2.connect( 
    host=ip,
    port=5432,
    database="BuyBay",
    user="postgres",
    password="lop34sw@D")

In [44]:
# Conected to the server
cursor=conexion.cursor()

## Download the whole dataset

In [45]:
# sql="select * from sold_products_bronze"
# columns = ['id','license_plate', 'status', 'platform', 'created_at', 'shipped_at', 'updated_at', 'sold_price', 'country', 'channel_ref', 'platform_fee']
# sql_2="select * from products_silver"
# columns_2 = ['id','license_plate', 'status', 'platform', 'created_at', 'shipped_at', 'updated_at', 'sold_price', 'country', 'channel_ref', 'platform_fee', 'grading_cat', 'grading_time']
# sql_3="select * from products_gold"
# columns_3 = ['id','license_plate', 'status', 'platform', 'created_at', 'shipped_at', 'updated_at', 'sold_price', 'country', 'transport_cost', 'channel_ref', 'platform_fee', 'grading_cat', 'grading_fee', 'grading_time']


# sql="select * from graded_products_bronze"
# columns=['id','license_plate','grading_cat','grading_time', 'created_at', 'updated_at']

# sql="select * from grading_fees_bronze"
# columns = ['id', 'grading_cat', 'cost', 'created_at', 'updated_at']
# sql_2="select * from grading_fees_silver"

# sql="select * from transport_cost_bronze"
# columns = ['id', 'country', 'transport_cost', 'created_at', 'updated_at']
# sql_2="select * from transport_cost_silver"

sql="select * from platform_cost_bronze"
columns = ['id', 'platform', 'cost', 'created_at', 'updated_at']
columns_2 = columns
sql_2="select * from platform_cost_silver"

In [46]:
cursor.execute(sql)

In [47]:
# How many data?
print('Number of rows: {}'.format(cursor.rowcount))

Number of rows: 5

In [48]:
df = to_dataframe(cursor, columns)

In [49]:
df.head(5)

,id,platform,cost,created_at,updated_at
0,1,Bol,10.0,2023-08-08 00:46:04.890936,2023-08-08 00:46:04.890936
1,2,Amazon,10.5,2023-08-08 00:46:04.890936,2023-08-08 00:46:04.890936
2,3,Ebay,9.0,2023-08-08 00:46:04.890936,2023-08-08 00:46:04.890936
3,4,Everything else,11.0,2023-08-08 00:46:04.890936,2023-08-08 00:46:04.890936
4,5,Tgarsa,8.0,2023-08-08 12:09:06.624000,2023-08-08 12:09:06.624000

In [50]:
df.tail(10)

,id,platform,cost,created_at,updated_at
0,1,Bol,10.0,2023-08-08 00:46:04.890936,2023-08-08 00:46:04.890936
1,2,Amazon,10.5,2023-08-08 00:46:04.890936,2023-08-08 00:46:04.890936
2,3,Ebay,9.0,2023-08-08 00:46:04.890936,2023-08-08 00:46:04.890936
3,4,Everything else,11.0,2023-08-08 00:46:04.890936,2023-08-08 00:46:04.890936
4,5,Tgarsa,8.0,2023-08-08 12:09:06.624000,2023-08-08 12:09:06.624000

In [51]:
cursor.execute(sql_2)
# How many data?
print('Number of rows: {}'.format(cursor.rowcount))

Number of rows: 5

In [52]:
df_2 = to_dataframe(cursor, columns_2)
# df_2 = to_dataframe(cursor, ['updated_at'])
# df_2 = to_dataframe(cursor, columns_2)

In [53]:
df_2.tail()

,id,platform,cost,created_at,updated_at
0,1,Bol,10.0,2023-08-08 00:46:04.890936,2023-08-08 00:46:04.890936
1,2,Amazon,10.5,2023-08-08 00:46:04.890936,2023-08-08 00:46:04.890936
2,3,Ebay,9.0,2023-08-08 00:46:04.890936,2023-08-08 00:46:04.890936
3,4,Everything else,11.0,2023-08-08 00:46:04.890936,2023-08-08 00:46:04.890936
4,5,Tgarsa,8.0,2023-08-08 12:09:06.624000,2023-08-08 12:09:06.624000

In [54]:
# df_2['license_plate'].value_counts(dropna=False)

In [55]:
cursor.execute(sql_3)
# How many data?
print('Number of rows: {}'.format(cursor.rowcount))

Number of rows: 1681

In [56]:
df_3 = to_dataframe(cursor, columns_3)

In [57]:
df_3.tail()

,id,license_plate,status,platform,created_at,shipped_at,updated_at,sold_price,country,transport_cost,channel_ref,platform_fee,grading_cat,grading_fee,grading_time
1676,3358,BW221109062888,shipped,Bol,2021-06-18 23:05:38,2021-06-20 14:00:44,2023-08-08 11:59:38.007000,60.74,BELGIUM,4.0,WMYT-74VC-91Y6,5.41,WP3,17.42,5
1677,3359,BW221109062917,shipped,Bva NL,2021-06-18 23:17:03,2021-06-20 16:35:34,2023-08-08 11:59:38.007000,16.38,NETHERLANDS,3.5,48f03b63-23d9-4376-7280-08d9306ef22a,1.8018,WP3,17.42,9
1678,3360,BW221109063206,shipped,Amazon,2021-06-18 23:43:11,2021-06-20 14:00:25,2023-08-08 11:59:38.007000,18.08,GERMANY,5.0,5VNB-37MD-R3UK,3.68,WP3,17.42,8
1679,3361,BW221109063219,shipped,Bol,2021-06-19 00:05:16,2021-06-20 20:05:29,2023-08-08 11:59:38.007000,185.51,NETHERLANDS,3.5,UWCT-UQRE-XD47,27.94,WP3,17.42,15
1680,3362,BW221109063354,shipped,Ebay,2021-06-19 00:19:41,2021-06-20 16:35:47,2023-08-08 11:59:38.007000,41.8,GERMANY,5.0,VY6G-CAU8-EK4J,5.52,WP3,17.42,19