In [1]:
import pandas as pd

In [2]:
# Additional imporets
# to have access to the web service
import requests
# To transforme the timestamps in datetieme
from datetime import datetime

In [3]:
# Conect to the API
# We need to use our local ip. This would be updated manually.
ip = '192.168.178.35'

## Add secure pass

In [4]:
# URLs to connected with the app-service
url_token = 'http://{}:5000/token'.format(ip)
# resp = requests.post(url_token)
resp = requests.post(url_token, data={'username': 'tgarsa', 'password':'secret'})
# resp = requests.post(url_token, data={'username': 'alice', 'password':'secret'})
resp

In [5]:
# Recover the token info
token = resp.json()['access_token']
token_type = resp.json()['token_type']

# Build the header
headers = {"Authorization": "{} {}".format(token_type, token)}
# headers

# Define a new data

In [6]:
data = {}
data['platform'] = 'Tgarsa'
data['cost'] = 8
now = datetime.now()
data['created_at'] = now
data['updated_at'] = now
df = pd.DataFrame.from_dict(data, orient='index').transpose()

In [7]:
data

{'platform': 'Tgarsa',
 'cost': 8,
 'created_at': datetime.datetime(2023, 8, 8, 12, 9, 6, 624549),
 'updated_at': datetime.datetime(2023, 8, 8, 12, 9, 6, 624549)}

In [8]:
df

  platform cost                 created_at                 updated_at
0   Tgarsa    8 2023-08-08 12:09:06.624549 2023-08-08 12:09:06.624549

In [9]:
# URLs to connected with the app-service
url = 'http://{}:5000/load_platform_cost'.format(ip)

In [10]:
resp = requests.post(url,  
                     json={'df_json': df.to_json()}, 
                     headers=headers)

In [11]:
resp

In [12]:
resp.json()

{'label': 'It done'}