In [1]:
import pandas as pd

In [2]:
# Additional imporets
# to have access to the web service
import requests
# To transforme the timestamps in datetieme
from datetime import datetime

In [3]:
# Conect to the API
# We need to use our local ip. This would be updated manually.
ip = '192.168.178.35'

## Add secure pass

In [4]:
# URLs to connected with the app-service
url_token = 'http://{}:5000/token'.format(ip)
# resp = requests.post(url_token)
resp = requests.post(url_token, data={'username': 'tgarsa', 'password':'secret'})
# resp = requests.post(url_token, data={'username': 'alice', 'password':'secret'})
resp

In [5]:
# Recover the token info
token = resp.json()['access_token']
token_type = resp.json()['token_type']

# Build the header
headers = {"Authorization": "{} {}".format(token_type, token)}
# headers

In [6]:
# load dataframe

df = pd.read_csv('grading_fees.csv') 
now = datetime.now() 
df['created_at'] = now
df['updated_at'] = now
# df['updated_at'] = datetime.now()

In [7]:
df.shape

(33, 4)

In [8]:
df.head()

  grading_cat   cost                 created_at                 updated_at
0         LF1  26.37 2023-08-08 02:48:19.069669 2023-08-08 02:48:19.069669
1        LFR1  31.44 2023-08-08 02:48:19.069669 2023-08-08 02:48:19.069669
2         LL1  13.01 2023-08-08 02:48:19.069669 2023-08-08 02:48:19.069669
3         LN1  14.72 2023-08-08 02:48:19.069669 2023-08-08 02:48:19.069669
4         MF1  10.50 2023-08-08 02:48:19.069669 2023-08-08 02:48:19.069669

In [9]:
type( df.to_json())

str

In [10]:
# Conect to the API
# We need to use our local ip. This would be updated manually.
ip = '192.168.178.35'
# URLs to connected with the app-service
url = 'http://{}:5000/load_grading_fees'.format(ip)

In [11]:
resp = requests.post(url,  
                     json={'df_json': df.to_json()},
                     headers=headers)

In [12]:
resp

In [13]:
resp.json()

{'label': 'It done'}

In [14]:
resp.json()['label']

'It done'