In [1]:
import pandas as pd

In [2]:
# Additional imporets
# to have access to the web service
import requests
# To transforme the timestamps in datetieme
from datetime import datetime

In [3]:
# Conect to the API
# We need to use our local ip. This would be updated manually.
ip = '192.168.178.35'

## Add secure pass

In [4]:
# URLs to connected with the app-service
url_token = 'http://{}:5000/token'.format(ip)
# resp = requests.post(url_token)
resp = requests.post(url_token, data={'username': 'tgarsa', 'password':'secret'})
# resp = requests.post(url_token, data={'username': 'alice', 'password':'secret'})
resp

In [5]:
# Recover the token info
token = resp.json()['access_token']
token_type = resp.json()['token_type']

# Build the header
headers = {"Authorization": "{} {}".format(token_type, token)}
# headers

In [6]:
# load dataframe

df = pd.read_csv('transport_cost.csv')
now = datetime.now() 
df['created_at'] = now
df['updated_at'] = now
# df['updated_at'] = datetime.now()

In [7]:
df.shape

(5, 4)

In [8]:
df.head()

,country,transport_cost,created_at,updated_at
0,BELGIUM,4.0,2023-08-08 02:48:36.988261,2023-08-08 02:48:36.988261
1,NETHERLANDS,3.5,2023-08-08 02:48:36.988261,2023-08-08 02:48:36.988261
2,FRANCE,6.5,2023-08-08 02:48:36.988261,2023-08-08 02:48:36.988261
3,GERMANY,5.0,2023-08-08 02:48:36.988261,2023-08-08 02:48:36.988261
4,OTHER,7.0,2023-08-08 02:48:36.988261,2023-08-08 02:48:36.988261

In [9]:
# URLs to connected with the app-service
url = 'http://{}:5000/load_transport_cost'.format(ip)

In [10]:
resp = requests.post(url,  
                     json={'df_json': df.to_json()}, 
                     headers=headers)

In [11]:
resp

In [12]:
resp.json()

{'label': 'It done'}

In [13]:
resp.json()['label']

'It done'