In [1]:
import pandas as pd

In [2]:
# Additional imporets
# to have access to the web service
import requests
# To transforme the timestamps in datetieme
from datetime import datetime

In [3]:
# Conect to the API
# We need to use our local ip. This would be updated manually.
ip = '192.168.178.35'

## Add secure pass

In [4]:
# URLs to connected with the app-service
url_token = 'http://{}:5000/token'.format(ip)
# resp = requests.post(url_token)
resp = requests.post(url_token, data={'username': 'tgarsa', 'password':'secret'})
# resp = requests.post(url_token, data={'username': 'alice', 'password':'secret'})
resp

In [5]:
# Recover the token info
token = resp.json()['access_token']
token_type = resp.json()['token_type']

# Build the header
headers = {"Authorization": "{} {}".format(token_type, token)}
# headers

In [6]:
# load dataframe
df = pd.read_csv('graded_products.csv')
now = datetime.now() 
df['created_at'] = now
df['updated_at'] = now
# df['updated_at'] = datetime.now()

In [7]:
type(df.iloc[0]['grading_time'])

numpy.int64

In [8]:
df['grading_time'].max()

20

In [9]:
df.shape

(1681, 5)

In [10]:
df.head()

,License_plate,grading_cat,grading_time,created_at,updated_at
0,BW221109149982,SL3,19,2023-08-08 02:48:51.685192,2023-08-08 02:48:51.685192
1,BW221109149966,LF2,7,2023-08-08 02:48:51.685192,2023-08-08 02:48:51.685192
2,BW221109149935,MF3,3,2023-08-08 02:48:51.685192,2023-08-08 02:48:51.685192
3,BW221109149920,SL3,3,2023-08-08 02:48:51.685192,2023-08-08 02:48:51.685192
4,BW221109149848,MN2,3,2023-08-08 02:48:51.685192,2023-08-08 02:48:51.685192

In [11]:
df['License_plate'].value_counts(dropna=False)

BW221109149982    1
BW221109094689    1
BW221109093992    1
BW221109094022    1
BW221109094082    1
                 ..
BW221109123108    1
BW221109123111    1
BW221109123203    1
BW221109123259    1
BW221108201539    1
Name: License_plate, Length: 1681, dtype: int64

In [12]:
# URLs to connected with the app-service
url = 'http://{}:5000/load_graded'.format(ip)

In [13]:
resp = requests.post(url,  
                     json={'df_json': df.to_json()}, 
                     headers=headers)

In [14]:
resp

In [15]:
resp.json()

{'label': 'It done'}

In [16]:
resp.json()['label']

'It done'