In [1]:
import pandas as pd

In [2]:
# Additional imporets
# to have access to the web service
import requests
# To transforme the timestamps in datetieme
from datetime import datetime

In [3]:
# Conect to the API
# We need to use our local ip. This would be updated manually.
ip = '192.168.178.35'

## Add secure pass

In [4]:
# URLs to connected with the app-service
url_token = 'http://{}:5000/token'.format(ip)
# resp = requests.post(url_token)
resp = requests.post(url_token, data={'username': 'tgarsa', 'password':'secret'})
# resp = requests.post(url_token, data={'username': 'alice', 'password':'secret'})
resp

In [5]:
# Recover the token info
token = resp.json()['access_token']
token_type = resp.json()['token_type']

# Build the header
headers = {"Authorization": "{} {}".format(token_type, token)}
# headers

In [6]:
# load dataframe

df = pd.read_csv('sold_products.csv', parse_dates = ['created_at', 'shipped_at'])

# Adding updated_at time
df['updated_at'] = datetime.now()

In [7]:
df.shape

(1681, 10)

In [8]:
df.head()

,license_plate,status,platform,created_at,shipped_at,sold_price,country,channel_ref,platform_fee,updated_at
0,BW221109149982,shipped,Bol,2021-06-28 16:05:57,2021-06-28 20:16:58,29.25,BELGIUM,CB80-D31Q-MVG0,3.65,2023-08-08 11:59:38.007719
1,BW221109149966,shipped,Bva NL,2021-11-08 07:18:27,2021-11-09 16:11:00,128.70,NETHERLANDS,cdf03a42-88ed-46ac-2725-08d99c9b50a2,NaN,2023-08-08 11:59:38.007719
2,BW221109149935,shipped,Bol,2021-08-20 09:32:30,2021-08-20 19:45:41,47.34,NETHERLANDS,840U-CEVP-QYX7,9.59,2023-08-08 11:59:38.007719
3,BW221109149920,shipped,Bva NL,2021-09-06 09:52:13,2021-09-06 12:20:49,18.72,NETHERLANDS,f28f6374-1ad8-4e9c-d829-08d96ca6598d,NaN,2023-08-08 11:59:38.007719
4,BW221109149848,shipped,Bol,2021-08-11 16:53:54,2021-08-11 17:50:30,306.66,BELGIUM,LAHT-EDVD-U92Q,25.26,2023-08-08 11:59:38.007719

In [9]:
# URLs to connected with the app-service
url = 'http://{}:5000/load_products'.format(ip)

In [10]:
resp = requests.post(url,  
                     json={'df_json': df.to_json()}, 
                     headers=headers)

In [11]:
resp

In [12]:
resp.json()

{'label': 'It done'}

In [13]:
resp.json()['label']

'It done'